
###> Managed by Composer ###
/bin/*
!bin/console
!bin/symfony_requirements
###> Managed by Composer ###

###> Logs ###
/var/log/*
!var/log/.gitkeep
#############

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
#################################

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
#################################

###> symfony/web-server-bundle ###
/.web-server-pid
##################################

###> carpeta local de guia ###
/wiki
##############################
